.bg-img {
    background-image: url("https://i.pinimg.com/originals/06/fc/5f/06fc5f357df557741f9526db705a53d1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

  .container {
    position: absolute;
    margin: 90px;
    right: 0;
    max-width: 600px;
    padding: 16px;
    background-color: white;
    min-height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .container>h1{
      margin-bottom: 30px;
      color:#4f94a0
  }
  .linput {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    letter-spacing: .8px;
  }
  
  .linput:focus {
    background-color: #ddd;
    outline: none;
  }
.lbutton{
    padding: 7px;
    border: none;
    outline: none;
    background-color: #4267B2;
    letter-spacing: .8px;
    font-weight: 700;
    font-size: 18px;
    color: #f8f8f8;
    transition: .3s ease-in;
    opacity: .8;
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: 3px;
}
.lbutton:hover{
    background-color: #245dd0;
    opacity: 1;
}
.links{
    text-decoration: none;
    color: #4f94a0;
}
.links:hover{
    color: #4267B2;
}